---
layout: null
---

body {
    font-family: Helvetica, Arial, sans-serif;

    text-align: center;
    background-color: #BDBDBD;
    height: 100%;
    font-size: 90%;
    text-align: center;
}

#wholepage {
    background-color: white;
    width: 95%;  /*800px;*/
    text-align: left;
    border: 1px solid black;
    /* box-shadow: 10px 10px 5px #888888; */
}

.authorship {
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
}

.content {
    padding: 15px;
}
h1, h2, h3, h4 {
    font-family: Helvetica, Arial, sans-serif;
    color: #088A08;
}
.title {
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 300%;
    padding: 5px;
    color: #088A08;
    font-style: bold;
    background-color: white;
    width: 80%;
}
.subtitle {
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 120%;
    padding: 5px;
    color: #088A08;
    font-style: bold;
    background-color: white;
    width: 80%;
}

td.titlepane {
    border-bottom: 2px solid #BBB5B5;
    padding: 0px;
    margin: 0px;
}

table.panels {
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

td.page{
    vertical-align: top;
    width: 75%;
}
td.sidebar {
    vertical-align: top;
    width: 200px;
    margin-right: 10px;
    border-left: 2px solid #EAEAEA;
}
td.content {
    vertical-align: top;
}
td.navpane {
    text-align: right;
    padding-right: 10px;
}

.code {
    border: 1px solid brown;
    background-color: #FEF0DB;
}
.bottompane {
    text-align: center;
    font-size: 85%;
    padding: 10px;
    border-top: 2px solid #EAEAEA;
}

a:link {
    text-decoration: none;
    color: #088A08; /*#012D08;*/
}
a:visited {
    text-decoration: none;
    color: #088A08; /*#3C1107; */
}
a:hover, a:active {
    text-decoration: underline;
}



